#sectionC {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #E7DFD8;
    align-items: center;
    justify-content: center;
}

#sectionC h1{
    margin: 2rem;
    font-size: 3rem;
    font-weight: 500;
}

#cards {
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 1.5rem;
    height: 65%;
}

.card{
    background-color: white;
    font-size: larger;
    width: 30%;
    position: relative;
    padding: 0.5rem;
}

.card h2{
    margin-top: 3.4rem;
    text-transform: uppercase;
    height: 4.4rem;
    text-align: center;
}

.circle-container {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    top: -30px; left: 50%;
    width: 70px; height: 70px;
}

.circle-container img{
    width: 70px; 
    height: 70px; 
}



@media screen and (max-width: 420px) {
    #sectionC{
      display: flex;
      flex-direction: column;
      padding: 1rem;
      justify-content: center;
      background-color: #E7DFD8;
      height: fit-content;
    }
  
    #cards {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        text-align: center;
       
    }
    
    .card{
        width: fit-content;
    }
  
  }
  