#sectionA {
  display: flex;
  height: 100vh;
  background-color: #E7DFD8;
}

#logo{
  width: 2.3rem;
  height: 2.1rem;
}

.text-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}

.text-column p {
  font-size: 4rem;
  font-weight: 200;
}

.image-column {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.image-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Añade estas reglas al final de tu archivo de estilos o en un archivo específico para estilos responsivos */

@media screen and (max-width: 420px) {
  .text-column{
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E7DFD8;
    width:min-content;
  }

  .image-column {
    display: none; /* Oculta la columna de la imagen */
  }

  .text-column p {
    font-size: 3rem;
    font-weight: 200;
  }
}


@media screen and (max-width: 925px) {
  .text-column{
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E7DFD8;
    width:min-content;
  }


  .text-column p {
    font-size: 3rem;
    font-weight: 200;
  }
}


@media screen and (max-width: 700px) {
  .text-column{
    display: flex;
    background-color: #E7DFD8;
    width:auto;
  }

  .image-column {
    display: none; /* Oculta la columna de la imagen */
  }

  .text-column p {
    font-size: 3rem;
    font-weight: 200;
  }
}